.button {
    background-color: #2f6c98;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    margin-left: 20px;
    transition: all 0.2s;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #2f6c98;
    border: 1px solid #2f6c98;
  }