.paginado {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .number {
    margin: 0 .5rem;
  }
  
  .number a {
    display: block;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .number a:hover {
    background-color: #eee;
  }